.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
 

}

.getStartedInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  gap: 20px;
}
@media (max-width: 900px) {
  .getStarted{
    padding-bottom: 20px;
  }
  .getStartedInner{
    width: 90%;
    padding: 20px;
  }
  .getStartedInner h1{
    color:white;
    font-weight: bold;
  }
  .getStartedInner p{
    font-weight: 300;
  }
}
